p {
  font-size: 100%;
}

.topbar {
  display: flex;

  width: auto;

  border-bottom: 1px solid #408C80;

  align-items: center;
  justify-content: space-between;

}

.logo {
  position: sticky;

  display: flex;

  width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;


}

.navbox {
  display: flex;

  width: 220px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: AristaProAlternate-Regular;
  font-size: 22px;

  align-items: center;

}
a {
  text-decoration: none;
}

#divider {
  margin: 15px;
}

#divider2 {
  width: 1000px;
}

#divider3 {
  margin: 3px;
}

.socialmedia {
  position: sticky;

  display: flex;

  width: 220px;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 5px;

  align-items: center;
  justify-content: space-evenly;
}

.socialmedia>a {
  height: 25px;
}

.socialmedia>img {
  margin: 1px;
}

#posts {
  display: flex;
  flex-direction: column;

  min-height: auto;
  max-height: 3000px;

  justify-content: space-around;
}

#cover-story {
  position: relative;

  width: auto;

  border-top: 2px solid #408C80;
  border-right: none;
  border-bottom: 2px solid #408C80;
  border-left: none;
  background-image: url("https://i.postimg.cc/ZnW1vmdy/mainstory.jpg");
  background-position: center;
  background-size: cover;
}

#zag {
  position: absolute;
  bottom: 60px;
  left: 25px;

  color: rgb(255, 255, 255);

  font-family: AristaProAlternate-Regular;
  font-size: 60px;
}

#lead {
  position: absolute;
  bottom: 20px;
  left: 25px;

  color: white;

  font-family: CodecColdLogo-Regular;
  font-size: 20px;
}


#top-stories {
  display: flex;

  margin-top: 25px;

  justify-content: space-around;
  align-content: center;

}

article {
  display: flex;
  flex-direction: column;

  width: 350px;
  min-height: 340px;
  max-height: 700px;
  margin: 0px;

  border: 1px solid #408C80;

  align-items: center;

}

.article-image {
  position: relative;

  width: 100%;
  min-height: 200px;
  max-height: 400px;

  color: rgba(#408c80, 0.5);

}

.type {
  position: absolute;
  top: 10px;
  left: 16px;

  color: white;

  font-family: CodecColdLogo-Regular;
  font-size: 12px;
}

.date {
  position: absolute;
  top: 6px;
  right:16px;

  color: white;

  font-family: CodecColdLogo-Regular;
  font-size: 12px;

}
.date>img{
  width: 11px;
  height: 11px;
  margin-top: 1px;
  margin-left: 2px;
}

.zag {
  position: absolute;
  bottom: 20px;
  left: 16px;

  color: white;

  font-family: AristaProAlternate-Regular;
  font-size: 27px;
}

.quote {
  text-align: left;

  font-family: CodecColdLogo-LightItalic;
  font-size: 17px;
}

.lead {
  margin-top: 20px;

  text-align: left;

  font-family: CodecColdLogo-Light;
  font-size: 17px;
}

.text {
  display: flex;
  flex-direction: column;

  margin: 10px 20px 10px 16px;

}

.image {
  position: relative;

  text-align: left;

  color: white;
}

#timeline {
  display: flex;

  margin-top: 40px;
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;
}

#timeline>span {
  font-family: AristaProAlternate-Regular;
  font-size: 20px;
}

#timeline>a {
  margin: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 30px;
  padding-left: 10px;

  color: black;
  border-top: 1px solid #408C80;

  font-family: AristaProAlternate-Regular;
  font-size: 15px;

  align-items: center;
  justify-content: space-between;
}

.circle {
  width: 5px;
  height: 5px;
  margin: 6px 8px 3px 8px;

  border-radius: 5px;
  background: #408C80;
}

.info {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}
